main .chef-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

main .chef-container .chef{
    position: relative;
    width: 100%;
    max-width: 450px;
}

main .chef-container .chef img{
    width: 100%;
    max-width: 450px;
}

main .chef-container .chef .chef-content{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: var(--color3);
    background-color: #1d1f1daa;
    text-shadow: 1px 1px 2px var(--color4),
        1px -1px 2px var(--color4),
        -1px 1px 2px var(--color4),
        -1px -1px 2px var(--color4);
}

main .chef-container .chef .chef-content h1{
    margin: 0;
}

main .chef-container .chef .chef-content p{
    margin-top: -2px;
    margin-bottom: 4px;
    font-style: italic;
}

main .chef-container .chef .chef-content ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .chef-container .chef .chef-content ul a{
    text-decoration: none;
    color: var(--color3);
    margin: 0 8px;
    font-size: 1.5rem;
}

@media (min-width: 992px){
    main .chef-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    main .chef-container .chef .chef-content{
        display: none;
    }

    main .chef-container  .chef:hover .chef-content{
        display: initial;
    }
}