main section{
    margin-bottom: 1rem;
}

main section img{
    max-width: 100%;
}

main section .backward,
main section .forward,
main section .closeImg{
    display: none;
    color: var(--color3);
    font-size: 2rem;
    cursor: pointer;
}

@media (min-width: 992px){
    main section .imgBox{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    main section img{
        width: 55ch;
        cursor: pointer;
        margin: 1rem;
    }

    .boxLightbox{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: grid;
        align-items: center;
        justify-content: center;

        background-color: #1d1f1df5;
    }

    .closeImg{
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        cursor: pointer;
    }

    .backward{
        display: block;
        position: absolute;
        top: 50%;
        left: 50px;
        cursor: pointer;
    }

    .forward{
        display: block;
        position: absolute;
        top: 50%;
        right: 50px;
        cursor: pointer;
    }

    .lightbox{
        width: 100%;
        cursor: default;
    }
}