main section img{
    max-width: 100%;
}

main section input{
    display: none;
}

main section label .backward,
main section label .forward,
main section label .radioClose{
    display: none;
    color: var(--color3);
    font-size: 2rem;
    cursor: pointer;
}

@media (min-width: 992px){
    main section{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    main section img{
        width: 55ch;
        cursor: pointer;
    }

    #galeria-1:checked ~ #chkGaleria-1,
    #galeria-2:checked ~ #chkGaleria-2,
    #galeria-3:checked ~ #chkGaleria-3,
    #galeria-4:checked ~ #chkGaleria-4,
    #galeria-5:checked ~ #chkGaleria-5{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: grid;
        align-items: center;
        justify-content: center;

        background-color: #1d1f1df5;
    }

    #galeria-1:checked ~ #chkGaleria-1 .radioClose,
    #galeria-2:checked ~ #chkGaleria-2 .radioClose,
    #galeria-3:checked ~ #chkGaleria-3 .radioClose,
    #galeria-4:checked ~ #chkGaleria-4 .radioClose,
    #galeria-5:checked ~ #chkGaleria-5 .radioClose{
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
    }

    #galeria-1:checked ~ #chkGaleria-1 .backward,
    #galeria-2:checked ~ #chkGaleria-2 .backward,
    #galeria-3:checked ~ #chkGaleria-3 .backward,
    #galeria-4:checked ~ #chkGaleria-4 .backward,
    #galeria-5:checked ~ #chkGaleria-5 .backward{
        display: block;
        position: absolute;
        top: 50%;
        left: 50px;
    }

    #galeria-1:checked ~ #chkGaleria-1 .forward,
    #galeria-2:checked ~ #chkGaleria-2 .forward,
    #galeria-3:checked ~ #chkGaleria-3 .forward,
    #galeria-4:checked ~ #chkGaleria-4 .forward,
    #galeria-5:checked ~ #chkGaleria-5 .forward{
        display: block;
        position: absolute;
        top: 50%;
        right: 50px;
    }

    #galeria-1:checked ~ #chkGaleria-1 img,
    #galeria-2:checked ~ #chkGaleria-2 img,
    #galeria-3:checked ~ #chkGaleria-3 img,
    #galeria-4:checked ~ #chkGaleria-4 img,
    #galeria-5:checked ~ #chkGaleria-5 img{
        width: 100%;
        cursor: default;
    }
}