main .card-container{
    display: flex;
    flex-direction: column;
}

main .card-container .card{
    margin-bottom: 24px;
}

main .card-container .card .figure img{
    width: 100%;
    max-width: 250px;
}

main .card-container p{
    margin: 4px 0;
}

@media (min-width: 992px){
    main section{
        display: initial;
    }

    main section .card-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main section .card-container .card{
        max-width: 250px;
        margin: 16px;
    }
}