@media (min-width: 992px){
    main section article form{
        display: grid;
        column-gap: .5rem;
        grid-template-areas: 
        "name name name name name name"
        "email email email phone phone phone"
        "date date time time people people"
        "msg msg msg msg msg msg"
        "button button button button button button";
    }
}

