@import url(./colors.css);

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-family: 'Italianno', cursive;
    font-size: 2.5rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.button{
    cursor: pointer;
    background-color: var(--color1);
    border-radius: 25px;
    box-shadow: 1px 1px 4px var(--color4),
    -1px -1px 4px var(--color4),
    -1px 1px 4px var(--color4),
    1px -1px 4px var(--color4);
    padding: .75rem 1rem;
    border: 1px solid var(--color4);
    margin: 0 .5rem;
    color: var(--color3);
    font-weight: 600;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 50px 1fr;
    /* align-items: center; */

    color: var(--color4);
}

header{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

header .text{
    display: inline-block;   
    padding: 0 .25rem; 
}

header p{
    padding: 0 1rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    color: var(--color4);
    text-shadow: 1px 1px 2px var(--color3),
        1px -1px 2px var(--color3),
        -1px 1px 2px var(--color3),
        -1px -1px 2px var(--color3);
}

header a{
    text-decoration: none;
    font-size: .8rem;
    display: flex;
    align-items: center;
    color: var(--color4);
    text-shadow: 1px 1px 2px var(--color3),
        1px -1px 2px var(--color3),
        -1px 1px 2px var(--color3),
        -1px -1px 2px var(--color3);
}

main{
    text-align: center;
    padding: 0 1rem;
}

@media (min-width: 992px){
    header{
        justify-content: flex-end;
        padding: 0 5%;
    }

    header p,
    header a{
        font-size: 1.1rem;
    }

    main{
        padding: 0 5%;
        text-align: left;
    }
}